html {box-sizing: border-box;}
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    text-align: center;
    width: auto;    
}

main{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
}

.ilustrace{
    max-width: 100%;
    width: 360px;
    height: auto;
}

h1{
    font-size: 28px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1::after{
    content:"";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #407BFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h2{
    font-size: 16px;
    font-weight: 500;
    margin-top: 60px;
    font-weight: bold;
}

h3{
    font-size: 13px;
    color: #8B8B8B;
    font-weight: 300;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 100%;
    text-align: left;
}

p{
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 0px;
}

.button{
    font-size: 14px;
    font-weight: 400;
    color:white;
    border-radius: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
 
}

.Chci{
    background-color: #407BFF;
    margin-bottom: 10px;
    width: 195px;

}

.Raději{
    background-color: #8B8B8B;
    width: 220px;
    
}

.box{
    background-color: white;
    max-width: 460px;
    margin-bottom: 15px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #407BFF1F;
    display: flex;
    align-items: center;
    padding: 20px;
}

@media screen and (min-width: 640px){
    main{
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;
    }

    .ilustrace{
        width: 400px;
        margin-bottom: 80px;
        order: 2;
    }

    p{
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        margin-top: 80px;
    }

    h3{
        max-width: 210px;
        text-align: center;
        margin: 20px 15px;
        flex-basis: 100%;
        flex-shrink: 1;
        flex-grow: 0;

    }

    .button{
        display: inline-block;
    }
      
    .obsah_sluzby, .obsah_delegati{
        display: flex;  
    }

    .box{
        flex-direction: column;
        flex-basis: 30%;
        flex-shrink: 1;
        flex-grow: 0;
        max-width: 230px;
        height: 170px;
        padding-left:0px;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-top: 0px;
        margin-left: 20px;
    } 

   .icon{
       margin-top: 40px;
   }
}

@media screen and (min-width: 1100px){
    main{
        max-width: 1040px;
    }

    .hero, .sluzby, .delegati{
        display: flex;
        align-items: center;
    }

    .ilustrace{
        width: 425px;
        flex-basis: 50%;
        margin-bottom:0px;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2{
        text-align: left;
    }
    
    h1::after{
        margin-left: 0px;
    }
    
    h3{
        max-width: 140px;
    }

    p{
        text-align: left;
    }

    .text{
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 495px;
    }

    .uvod{
        order: 1;
        max-width:490px;
        width: 100%;
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 1;
        margin-right: 95px;
    }

    .popis_sluzby{
        order: 2;
    }

    .obsah_sluzby{
        order: 1;
        margin-right: 60px;
    }

    .obsah_delegati{
        margin-left: 60px;
    }

    .obsah_sluzby, .obsah_delegati{
        width: 550px;
        justify-content: space-between;
        align-items: center;
    }

    .box{
        max-width: 170px;
        height: 190px;
        margin-left:0px;
    }

    .popis_sluzby, .popis_delegati{
        max-width: 490px;
        width: 430px;
    }

    .sluzby, .delegati{
        margin-top: 80px;
    }
}